.serviceMore-middle{
   
   padding:40px;
    box-shadow: 5px 5px 15px 15px lightgrey;
}
.serviceMore-first{
    padding:40px;
}
.serviceMore-last{
    padding:40px;
} 
/* .service-container{
    height: 100px;
    
}






